.DS_Store
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
.dart_tool/
.flutter-plugins-dependencies
.pub/
.pub-cache/
/build/
/coverage/
**/ios/Flutter/.last_build_id
*.iml
.idea/
android/.gradle/
android/local.properties
